$tab__space: rem(10);

.tab__nav {
  @include clearfix;
  display: block;
  list-style: none;
  padding: 0 $tab__space $tab__space;
  margin: $tab__space 0 $tab__space * 2;
  background-color: $color__accent;
}

.tab__nav-item {
  display: block;
  float: left;
  margin: $tab__space $tab__space 0 0;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    background-color: $color__accent--light;
    color: $color__accent--dark;
    padding: $tab__space;
  }

  &--active {
    a {
      background-color: $color__bright;
      color: $color__brand--one;
    }
  }

  a:hover {
    color: $color__dark;
  }
}

.tab__panel {
  display: none;
}

// STATES
.tab__panel--active {
  display: block;
}

// LARGE
// ----------------------------------------
@include mq(large) {
  .tab__nav {
    margin-top: $tab__space * 2;
    padding: 0 $tab__space * 2;
  }

  .tab__nav-item {
    margin: $tab__space * 2 $tab__space 0 0;
    font-size: rem(18);
  }
}
