html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  @include clearfix;
}

// LARGE
// ----------------------------------------
@include mq(large) {
  main {
    max-width: $grid__max-width;
    margin: 0 auto;
  }
}
