  section.sc-content
    form
      fieldset
        legend Inputs with Buttons
        p
          label(for='input1') Label 1
          span.input-addon
            input.input-addon__field(id='input1', type='text', name='input1', placeholder='input1 placeholder')
            button.btn.input-addon__item(href='#') Search

        p.input-overlay
          label(for='input2') Label 2
          input.input-overlay__input(id='input2', type='search', name='input2', placeholder='input2 placeholder')
          button.btn.btn--icon.input-overlay__button(href='#')
            +icon('search')
