//stylelint-disable no-descending-specificity
.f-controls {
  @include clearfix;
  @include border-box;

  .f-control {
    display: block;
    float: left;
    text-align: center;
    width: percentage(1 / 3);
    margin: 0;
    padding: 1rem 0;
    color: if($theme == $theme-dark, color(normal), color(accent));
    background-color: color(ultralight);

    &:hover {
      color: color(accent);
      background-color: color(light);
    }

    &.f-active {
      // box-shadow: inset 0 0.25rem 0 0 color(accent);
      color: color(bright);
      background-color: color(accent);
    }

    svg {
      vertical-align: middle;
    }

    use {
      fill: CurrentColor;
    }
  }
}

.f-control {
  @include border-box;
  display: inline-block;
  cursor: pointer;
  margin-left: 0.66rem;

  &:first-child {
    margin-left: 0;
  }

  svg {
    width: 0.875rem;
    height: 0.875rem;

    use {
      fill: color(light);
    }
  }
}

.f-control-bar {
  @include clearfix;
  padding: 0.4rem 0;
}

.f-menu-toggle {
  cursor: pointer;
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color(ultralight);

  &:hover {
    background-color: color(light);
  }

  svg {
    display: block;
    float: left;
    margin-bottom: -1px;

    use {
      fill: color(accent);
    }
  }
}
//stylelint-enable no-descending-specificity
