html,
body {
  height: 100%;
}

main {
  @include outer-container;

  + footer {
    height: rem(100);
    background-color: $color__primary;
  }
}

article {
  @include span-columns(12);
  padding: 0 rem(12);
}

.page__header {
  @include outer-container;
  padding: 0 rem(12);
}

// LARGE
// ----------------------------------------
@include mq(large) {
  article,
  .page__header {
    padding: 0 rem(24);
  }
}
