---
notes: |
  this list & file is generated
---
<div class="p-icon-list">
  {{#each icons}}{{#with this}}
    <div class="p-icon">
      <pre>{{name}}</pre>
      +icon('{{name}}')
      +icon('{{name}}', 'icon--m')
      +icon('{{name}}', 'icon--l')
    </div>
  {{/with}}{{/each}}
</div>
