$form__select-arrow-color: $color__accent--dark;

fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 rem(18);
}

legend {
  text-transform: uppercase;
  font-weight: $heading__font-weight;
  margin-bottom: rem(6);
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: rem(6);
  cursor: pointer;
  color: $color__accent--dark;
  font-size: rem(16);
  line-height: 1.5;
}

input::placeholder {
  color: $color__accent--dark;
}

[type='text'],
[type='password'],
[type='email'],
[type='number'],
[type='url'],
[type='tel'],
[type='time'],
[type='date'],
[type='datetime'],
[type='month'],
[type='week'],
[type='search'],
[type='range'],
[type='reset'],
textarea {
  display: block;
  width: 100%;
  background-color: $color__accent--light;
  border: rem(1) solid $color__accent--light;
  border-radius: 0;
  padding: rem(9) rem(12);
  font-size: rem(16);
  line-height: 1.5;

  &:focus {
    outline: 0;
    background-color: $color__bright;
    border-color: $color__accent;
  }
}

// scss-lint:disable QualifyingElement
input[type='search'] {
  box-sizing: border-box;
}
// scss-lint:enable QualifyingElement

// Define colors for select arrow and convert it to a URL encoded value.
$form__select-arrow-color: str-replace(inspect($color__accent--dark), '#', '%23');
$form__select-arrow-color--focus: str-replace(inspect($color__brand--one), '#', '%23');

select {
  appearance: none;
  width: 100%;
  height: rem(44);
  padding: rem(9) rem(30) rem(9) rem(12);
  background-color: $color__bright;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-11%2013%2024%2024%22%3E%3Cpath%20fill%3D%22#{$form__select-arrow-color}%22%20d%3D%22M0.7%2C36.7l-6.4-6.4l1.6-1.6l4.8%2C4.8l4.8-4.8l1.6%2C1.6L0.7%2C36.7z%22%2F%3E%0A%09%3Cpath%20fill%3D%22#{$form__select-arrow-color}%22%20d%3D%22M0.7%2C13l6.4%2C6.4L5.5%2C21l-4.8-4.8L-4.1%2C21l-1.6-1.6L0.7%2C13z%22%2F%3E%3C%2Fsvg%3E%0A');
  background-position: right rem(5) center;
  background-repeat: no-repeat;
  border: rem(1) solid $color__accent;
  border-radius: 0;
  color: $color__accent--dark;
  font-size: rem(16);
  line-height: 1.5;

  option {
    color: $body__font-color;
  }

  &::-ms-expand {
    display: none;
  }

  .lt-ie10 & {
    background-image: none;
    padding-right: rem(12);
  }

  &:hover {
    color: $color__brand--one;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
    color: $color__brand--one;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-11%2013%2024%2024%22%3E%3Cpath%20fill%3D%22#{$form__select-arrow-color--focus}%22%20d%3D%22M0.7%2C36.7l-6.4-6.4l1.6-1.6l4.8%2C4.8l4.8-4.8l1.6%2C1.6L0.7%2C36.7z%22%2F%3E%0A%09%3Cpath%20fill%3D%22#{$form__select-arrow-color--focus}%22%20d%3D%22M0.7%2C13l6.4%2C6.4L5.5%2C21l-4.8-4.8L-4.1%2C21l-1.6-1.6L0.7%2C13z%22%2F%3E%3C%2Fsvg%3E%0A');

    &::-ms-value {
      color: $color__brand--one;
      background-color: transparent;
    }
  }

}

// INPUT WITH BUTTON ON THE SIDE
.input-addon {
  display: flex;
}

.input-addon__field {
  flex: 1;
}

.input-addon__item {
  margin-bottom: 0;
}

// INPUT WITH ICON BUTTON INSIDE
.input-overlay {
  position: relative;

  .input-overlay__input {
    padding-right: rem(50);
  }
}

.input-overlay__button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  color: $body__font-color;

  &,
  &:hover,
  &:active {
    background-color: transparent;
  }

  &:hover {
    color: $color__accent--dark;
  }
}

// STATES
.form--field-error {
  label {
    color: $color__alert;
  }

  input {
    border-color: $color__alert;
  }
}

.form--field-valid {
  label {
    color: $color__success;
  }

  input {
    border-color: $color__success;
  }
}

// MEDIUM
// ----------------------------------------
@include mq(medium) {
  // STATES
  .form--horizontal {
    @include outer-container;
    margin-bottom: rem(18);

    label {
      @include span-columns(3);
      padding-top: rem(9);
    }

    input,
    select {
      @include span-columns(9);
    }
  }
}
