<section class="accordion js-accordion" data-mt-tolerance="10">
  {{#each items}}
    <section class="accordion__item{{#if open}} accordion--open{{/if}}">
      <h1 class="accordion__title">{{title}}</h1>
      <div class="accordion__content">
        {{{content}}}
      </div>
    </section>
  {{/each}}
</section>
