extends ../../layouts/_layout.jade

block module_header
  - var moduleTitle = 'Teaser Assets'

block content
  aside.teaser.teaser--assets
    .teaser__container
      +times(10)
        section.teaser__item
          a.teaser__link(href='#')
            .teaser__img
              img(src='https://unsplash.it/200/200/?random')
              p.teaser__content Bildbeschreibung oder Legende
            button.btn.btn--tertiary.teaser__btn
              |Download
              +icon('download')
