html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.bg--accent {
  background-color: $color__accent;
}

.bg--accent-light {
  background-color: $color__accent--light;
}

main {
  @include container;
}

// LARGE
// ----------------------------------------
@include mq(large) {
  main {
    @include container();
  }
}
