/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

// scss-lint:disable ColorVariable
$settings: (
	theme: light,
	accent: hsl(337, 100%, 42%),
	menu-width: 14rem
);
// scss-lint:enable ColorVariable

@import 'partials/variables';
@import 'partials/code';
@import 'partials/color-chips';
@import 'partials/controls';
@import 'partials/item';
@import 'partials/layout';
@import 'partials/menu';

/**
 * Partystreusel styles
 * @author Pascal Kuster
 * Class selectors are namespaced with "p-"
 */

@import 'partials/icons';
