extends ../../layouts/_layout.jade

block moduleTitle
  | Teaser Card

block content
  aside.teaser.teaser--card
    .teaser__container
      +times(10)
        section.teaser__item
          a.teaser__link(href='#')
            img.teaser__img(src='https://unsplash.it/300/300/?random')
            .teaser__content
              h3 Produkt oder Bereich
              p Preis 12 CHF oder ein Produkt Eigenschaft
              button.btn.btn--tertiary.teaser__btn Kaufen
          a.btn.btn--icon.teaser__link--secondary(href='http://google.com')
            +icon('download')
