Icon
.DS_Store
*.gem
.bundle
Gemfile.lock
pkg/*
tmp/
log/
.sass-cache
node_modules
.project
.publish
.chrome
/assets
/dist
/build
/public

# Kirby CMS files
# ---------------
/content/*
!/content/.gitkeep

/thumbs/*
!/thumbs/index.html

/site/cache/*
!/site/cache/index.html

# Kirby accounts
/site/accounts/*
!/site/accounts/index.html

# Avatars
/assets/avatars/*
!/assets/avatars/index.html
