.icon--arrow-left { background-image: url('images/icons/png/arrow-left.png'); }


.icon--arrow-right { background-image: url('images/icons/png/arrow-right.png'); }


.icon--close { background-image: url('images/icons/png/close.png'); }


.icon--download { background-image: url('images/icons/png/download.png'); }


.icon--folder { background-image: url('images/icons/png/folder.png'); }


.icon--menu { background-image: url('images/icons/png/menu.png'); }


.icon--search { background-image: url('images/icons/png/search.png'); }


