body {
  font-family: $body__font-family;
  font-weight: $body__font-weight;
  font-style: normal;
  font-size: $body__font-size;
  line-height: 1.2;
  background-color: $color__bright;
  color: $body__font-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $heading__font-family;
  font-weight: $heading__font-weight;
  font-style: normal;
  text-rendering: auto;
  color: $body__font-color;
}

h1,
.h1 {
  font-size: rem(36);
  line-height: 1;
  margin: rem(30) 0 rem(12);
}

h2,
.h2 {
  font-size: rem(24);
  line-height: 1;
  margin: rem(27) 0 rem(9);
}

h3,
.h3 {
  font-size: rem(19);
  line-height: 1.26;
  margin: rem(24) 0 rem(3);
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: rem(16);
  line-height: 1.125;
  margin: rem(21) 0 rem(3);
}

p {
  font-family: $paragraph__font-family;
  font-weight: $paragraph__font-weight;
  font-size: $paragraph__font-size;
  line-height: $paragraph__line-height;
  margin-top: 0;
  margin-bottom: $paragraph__margin-bottom;
  text-rendering: auto;
}

a {
  text-decoration: none;
  color: $anchor__color;

  &:hover {
    color: $anchor__color--hover;
  }

  &:active {
    color: $anchor__color--active;
  }
}

ul,
ol {
  list-style-position: outside;
  margin-left: 0;
  padding-left: rem(18);
  font-size: $paragraph__font-size;
}

ol {
  padding-left: rem(23);
}

ul ul,
ol ol {
  margin-left: 0;
}

hr {
  border-width: $hr__border-width;
  border-style: $hr__border-style;
  border-color: $hr__border-color;
  margin-top: $hr__margin-top;
  margin-bottom: $hr__margin-bottom;
}

small {
  color: $color__accent--dark;
}

blockquote {
  font-family: inherit;
  font-size: $paragraph__font-size;
  font-style: italic;
  margin: 0 0 $paragraph__margin-bottom 0;
}

@include mq(medium) {
  h1,
  .h1 {
    font-size: rem(54);
    margin-bottom: rem(14);
  }

  h2,
  .h2 {
    font-size: rem(36);
  }

  h3,
  .h3 {
    font-size: rem(20);
    margin-bottom: rem(6);
  }

  h4,
  h5,
  h6,
  .h4,
  .h5,
  .h6 {
    font-size: rem(18);
    margin-bottom: rem(6);
  }

  p,
  ul,
  ol {
    font-size: rem(18);
  }

  blockquote {
    font-size: rem(18);
  }
}

@include mq(large) {
  h1,
  .h1 {
    font-size: rem(72);
    margin-bottom: rem(13);
  }

  h3,
  .h3 {
    font-size: rem(24);
  }

  h4,
  h5,
  h6,
  .h4,
  .h5,
  .h6 {
    font-size: rem(20);
  }

  p,
  ul,
  ol {
    font-size: $paragraph__font-size--large;
  }

  hr {
    margin-top: rem(24);
    margin-bottom: rem(34);
  }

  blockquote {
    font-size: $paragraph__font-size--large;
  }
}
