.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    border-top: rem(1) solid darken($color__brand--one, 5%);
  }
}

.main-nav__link {
  display: block;
  padding: rem(11) rem(18);
  color: $body__font-color;
  font-size: rem(18);
  line-height: 1.33;
}

.main-nav__sub {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;

  a {
    padding-left: rem(36);
  }
}

// STATES
.main-nav__link:hover,
.main-nav__link:focus,
.main-nav__link--active {
  color: $color__bright;
  background-color: darken($color__brand--one, 5%);
}

.main-nav__sub--open {
  display: block;
}
