---
notes: |
  table with `table-wrapper` div for horizontal scrolling on small screen
---
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Header A</th>
        <th>Header B</th>
        <th>Header C</th>
        <th>Header D</th>
        <th>Header E</th>
      </tr>
    </thead>
    <tbody>
      {{#iterate 5}}
      <tr>
        <td>Row {{@index}} with long copy</td>
        <td>Row {{@index}}</td>
        <td>Row {{@index}} with long</td>
        <td>Row {{@index}}</td>
        <td>Row {{@index}}</td>
      </tr>
      {{/iterate}}
    </tbody>
    <tfoot>
      <tr>
        <th>Footer A</th>
        <th>Footer B</th>
        <th>Footer C</th>
        <th>Footer D</th>
        <th>Footer E</th>
      </tr>
    </tfoot>
  </table>
</div>
