<span class="checkbox {{modifier}}">
  <input class="checkbox__input" type="checkbox" id="checkbox{{counter}}"/>
  <label class="checkbox__label" for="checkbox{{counter}}">
    {{text}}
  </label>
</span>
