

	<div class="f-color-chips">
		<div class="f-color-chip">
			<div class="f-color-chip__name">one</div>
			<div class="f-color-chip__color">#d60051</div>
		</div>
		<div class="f-color-chip">
			<div class="f-color-chip__name">dark</div>
			<div class="f-color-chip__color">#381c2e</div>
		</div>
		<div class="f-color-chip">
			<div class="f-color-chip__name">two</div>
			<div class="f-color-chip__color">#00d2d3</div>
		</div>
	</div>
	<div class="f-color-chips">
		<div class="f-color-chip">
			<div class="f-color-chip__name">dark</div>
			<div class="f-color-chip__color">#333</div>
		</div>
		<div class="f-color-chip">
			<div class="f-color-chip__name">light</div>
			<div class="f-color-chip__color">#fff</div>
		</div>
	</div>
	<div class="f-color-chips">
		<div class="f-color-chip">
			<div class="f-color-chip__name">accent--light</div>
			<div class="f-color-chip__color">#f0f0f0</div>
		</div>
		<div class="f-color-chip">
			<div class="f-color-chip__name">accent</div>
			<div class="f-color-chip__color">#acacac</div>
		</div>
		<div class="f-color-chip">
			<div class="f-color-chip__name">accent--dark</div>
			<div class="f-color-chip__color">#6e6e6e</div>
		</div>
	</div>
	<div class="f-color-chips">
		<div class="f-color-chip">
			<div class="f-color-chip__name">warning</div>
			<div class="f-color-chip__color">#f08a24</div>
		</div>
		<div class="f-color-chip">
			<div class="f-color-chip__name">alert</div>
			<div class="f-color-chip__color">#f00</div>
		</div>
		<div class="f-color-chip">
			<div class="f-color-chip__name">info</div>
			<div class="f-color-chip__color">#a0d3e8</div>
		</div>
		<div class="f-color-chip">
			<div class="f-color-chip__name">success</div>
			<div class="f-color-chip__color">#43ac6a</div>
		</div>
	</div>

