

<div class="dropdown js-dropdown">
  <button type="button" id="dropdownMenu1" class="btn js-dropdown__toggler">Dropdown Button</button>
  <ul role="menu" aria-labelledby="dropdownMenu1" class="dropdown__menu js-dropdown__actions">
    <li role="presentation"><a role="menuitem" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" href="#">Something else here</a></li>
    <li role="presentation"><a role="menuitem" href="#">Separated link</a></li>
  </ul>
</div>

