

<div class="js-offcanvas">
  <div class="offcanvas">
    <div class="offcanvas__pusher">
      INSERT HEADER
      <div class="offcanvas__content">
        <div class="offcanvas__content-inner">
          <button class="offcanvas__close"><svg class="icon icon--close ">
  <use xlink:href="#icon--close" />
</svg>
 Close</button>
          INSERT NAV
        </div>
      </div>
      <button class="offcanvas__opener"><svg class="icon icon--menu ">
  <use xlink:href="#icon--menu" />
</svg>
Menu</button>
      INSERT MAIN
      <div class="offcanvas__overlay"></div>
    </div>
  </div>
</div>

