

<nav role="navigation" class="topbar js-topbar">
  <button type="button"  aria-controls="topbar-content" class="topbar__mobile-menu">
    Menu
    <svg class="icon icon--menu ">
      <use xlink:href="#icon--menu" />
    </svg>
  </button>
  <ul class="topbar__list" id="topbar-content">
      <li class="topbar__item">
        <a class="topbar__link " href="#" >Nav content 1</a>
      </li>
      <li class="topbar__item">
        <a class="topbar__link topbar--active" href="#" >Nav active with Sub</a>
          <ul class="topbar__sub-list">
            <li class="topbar__sub-item">
              <a class="topbar__link" href="#">Nav content 1</a>
            </li>
            <li class="topbar__sub-item">
              <a class="topbar__link" href="#">Nav active 1</a>
            </li>
          </ul>
      </li>
      <li class="topbar__item">
        <a class="topbar__link " href="#" >Nav long long 1</a>
      </li>
      <li class="topbar__item">
        <a class="topbar__link " href="#" >Nav another 1</a>
      </li>
      <li class="topbar__item">
        <a class="topbar__link " href="#" >Nav last 1</a>
      </li>
  </ul>
</nav>

