doctype html
<!--[if IE 8]>
html.no-js.lt-ie10.lt-ie9(lang='en')
<![endif]-->
<!--[if IE 9]>
html.no-js.lt-ie10(lang='en')
<![endif]-->
<!--[if gt IE 9]><!-->
html.no-js(lang='en')
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Partystreusel
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block meta

    link(rel='stylesheet', href='./css/styleguide.css')
    link(rel='stylesheet', href='./css/application.css')

    //- TODO: add your favicons
    include ../partials/_icons.jade
    include ../partials/_helpers.jade

    <!--[if (lt IE 9) & (!IEMobile)]>
    script(src='./js/polyfills/html5shiv-printshiv.js')
    <![endif]-->

  body
    header
      // Include header Module here

    main
      article
        .styleguide__container
          header.styleguide__header
            h1
              block moduleTitle
                | Partystreusel
            a( href='./') Back to Index
          hr
          
        // MODULE-CODE-STARTS-HERE
        block content
        // MODULE-CODE-ENDS-HERE

        .styleguide__container
          hr
          section.styleguide__documentation
            block documentation

    footer

    script(src='./js/application.js', async='true')
    block scripts

    <!--[if lte IE 8]>
    script(src='./js/polyfills/rem.js')
    <![endif]-->
