doctype html
<!--[if IE 8]>
html.no-js.lt-ie10.lt-ie9(lang='en')
<![endif]-->
<!--[if IE 9]>
html.no-js.lt-ie10(lang='en')
<![endif]-->
<!--[if gt IE 9]><!-->
html.no-js(lang='en')
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Partystreusel
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block meta

    link(rel='stylesheet', href='./css/styleguide.css')
    link(rel='stylesheet', href='./css/application.css')

    //- TODO: add your favicons
    include ../partials/_icons.jade
    include ../partials/_helpers.jade

    <!--[if (lt IE 9) & (!IEMobile)]>
    script(src='./js/polyfills/html5shiv-printshiv.js')
    <![endif]-->

  body.js-offcanvas
    .offcanvas__outer
      .offcanvas__inner
        header.page__header(role='banner')
          include ../partials/_header.jade
          include ../partials/_offcanvas_nav.jade

        main#maincontent(role='content')
          article
            header
              h1
                block moduleTitle
                  | Partystreusel
              a( href='/') Back to Index
            hr
            block content
            hr
            section.styleguide-documentation
              block documentation

        footer(role='contentinfo')
        .offcanvas__overlay

    script(src='./js/application.js', async='true')
    block scripts

    <!--[if lte IE 8]>
    script(src='./js/polyfills/rem.js')
    <![endif]-->
