mixin icon(name, classes)
  svg.icon(title=name, xmlns='http://www.w3.org/2000/svg', class='icon--'+name, class=classes)
      use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon--'+name)
