nav.offcanvas__container(role='navigation')
  .offcanvas__container-inner
    button.offcanvas__close.js-offcanvas__toggler(href='#')
      +icon('close')
      Close
    ul.offcanvas-nav
      li
        a.offcanvas-nav__link(href='#') Nav Item
      li
        a.offcanvas-nav__link(href='#') Nav Item
        ul.offcanvas-nav__sub.offcanvas-nav__sub--open
          li
            a.offcanvas-nav__link(href='#') Nav Item
          li
            a.offcanvas-nav__link.offcanvas-nav__link--active(href='#') Nav Item
          li
            a.offcanvas-nav__link(href='#') Nav Item
      li
        a.offcanvas-nav__link(href='#') Nav Item
      li
        a.offcanvas-nav__link.offcanvas-nav__link--active(href='#') Nav Item
