extends ../../layouts/_layout.jade

block module_header
  - var moduleTitle = 'Teaser'

block content
  aside.teaser
    .teaser__container
      +times(6)
        section.teaser__item
          a.teaser__link(href='#')
            img.teaser__img(src='https://unsplash.it/370/210/?random')
            .teaser__content
              p.teaser__subtitle Subtitel
              h3 Aktuelles
              p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
              button.btn.btn--tertiary.teaser__btn lesen Sie mehr darüber
