<div class="two-column">
  <div class="two-column__first">
    {{#if column1}}
      {{render (lookup . 'column1')}}
    {{else}}
      Lorem Ipsum
    {{/if}}
  </div>
  <div class="two-column__second">
    {{#if column2}}
      {{render (lookup . 'column2')}}
    {{else}}
      Lorem Ipsum
    {{/if}}
  </div>
</div>
