%article
  %header
    %h1 Tab
    %a{ href: '/styleguide/' } Back to Index
  %hr
  %section
    .tab.js-tab
      %ul.tab__nav{ role: 'tablist'}
        %li.tab__nav-item{ role: 'presentation' }
          %a{ href: '#panel1', role: 'tab'} Tab titel 1
        %li.tab__nav-item{ role: 'presentation' }
          %a{ href: '#panel2', role: 'tab'} Tab second 2
        %li.tab__nav-item.tab__nav-item--active{ role: 'presentation' }
          %a{ href: '#panel3', role: 'tab'} Tab active 3
        %li.tab__nav-item{ role: 'presentation' }
          %a{ href: '#panel4', role: 'tab'} Tab long title 4
        %li.tab__nav-item{ role: 'presentation' }
          %a{ href: '#panel5', role: 'tab'} Tab long title 5

      .tab__panels
        %section.tab__panel{ role: 'tabpanel', id: 'panel1'}
          %section.sc-content
            %p Content 1! Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        %section.tab__panel{ role: 'tabpanel', id: 'panel2'}
          %section.sc-content
            %p Content 2! Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        %section.tab__panel.tab__panel--active{ role: 'tabpanel', id: 'panel3'}
          %section.sc-content
            %p Content 3! Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        %section.tab__panel{ role: 'tabpanel', id: 'panel4'}
          %section.sc-content
            %p Content 4! Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        %section.tab__panel{ role: 'tabpanel', id: 'panel5'}
          %p Content 5! Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
