extends ../../layouts/_layout.jade

block moduleTitle
  | Icons

block documentation
  include:markdown README.md

block content
  div.styleguide-icons__icon-list
    
    div.styleguide-icons__icon
      pre
        code arrow-left
      +icon('arrow-left')
      +icon('arrow-left', 'icon--m')
      +icon('arrow-left', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code arrow-right
      +icon('arrow-right')
      +icon('arrow-right', 'icon--m')
      +icon('arrow-right', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code close
      +icon('close')
      +icon('close', 'icon--m')
      +icon('close', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code download
      +icon('download')
      +icon('download', 'icon--m')
      +icon('download', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code folder
      +icon('folder')
      +icon('folder', 'icon--m')
      +icon('folder', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code menu
      +icon('menu')
      +icon('menu', 'icon--m')
      +icon('menu', 'icon--l')
    
    div.styleguide-icons__icon
      pre
        code search
      +icon('search')
      +icon('search', 'icon--m')
      +icon('search', 'icon--l')
    
