= render 'partystreusel/styleguide/styleguide_nav'

-# %ul.offcanvas-nav
-#   %li
-#     = link_to 'NavItem', '#', class: 'offcanvas-nav__link'
-#   %li
-#     = link_to 'NavItem with Sub', '#', class: 'offcanvas-nav__link'
-#     %ul.offcanvas-nav__sub.offcanvas-nav__sub--open
-#       %li
-#         = link_to 'NavItem', '/', class: 'offcanvas-nav__link'
-#       %li
-#         = link_to 'NavItem active', '/', class: 'offcanvas-nav__link offcanvas-nav__link--active'
-#       %li
-#         = link_to 'NavItem', '/', class: 'offcanvas-nav__link'
-#       %li
-#         = link_to 'NavItem', '/', class: 'offcanvas-nav__link'
-#   %li
-#     = link_to 'NavItem', '#', class: 'offcanvas-nav__link'
-#   %li
-#     = link_to 'NavItem', '#', class: 'offcanvas-nav__link offcanvas-nav__link--active'
-#   %li
-#     = link_to 'NavItem', '#', class: 'offcanvas-nav__link'
