%nav.offcanvas__container{role: 'navigation'}
  .offcanvas__container-inner
    %button.offcanvas__close.js-offcanvas__toggler{ href: '#'}
      - streusel_icon( 'close')
      Close
    = render 'partystreusel/partials/offcanvas_nav'
