// stylelint-disable max-nesting-depth,no-descending-specificity,selector-max-specificity

$option__radio-size: rem(24);
$option__checkbox-size: rem(20);
$option__border-size: rem(2);
$option__label-size: rem(42);
$option__label-padding: ($option__label-size - $option__radio-size) / 2;

$option__radio-knuble-size: $option__radio-size / 2;
$option__radio-knuble-distance: $option__radio-knuble-size / 2;

$option__checkbox-knuble-size: $option__checkbox-size / 2;
$option__checkbox-knuble-distance: $option__checkbox-knuble-size / 2;

$option--alternate-color: $color__bright;

.option__input {
  position: absolute;
  overflow: hidden;
  width: rem(1);
  height: rem(1);
  padding: 0;
  margin: rem(-1);
  border: 0;
  clip: rect(0 0 0 0);

  &:focus {
    + .option__label {
      .option__area::before {
        color: $color__accent--dark;
        border-color: currentColor;
      }
    }
  }
}

.option__label {
  position: relative;
  vertical-align: top;
  padding: $option__label-padding $option__label-padding $option__label-padding $option__label-size;
  margin-bottom: 0;
  font-size: rem(18);
  text-transform: none;

  &:hover {
    .option__area {
      &::before {
        color: $color__accent--dark;
        border-color: $color__dark;
      }
    }
  }
}

.option__area {
  position: absolute;

  &::before {
    content: '';
    display: block;
    border: $option__border-size solid $color__accent--dark;
    background-color: $color__bright;
  }

  &::after {
    content: '';
    display: none;
    position: absolute;
    background-color: $color__dark;
  }
}

// STATE checked
.option__input {
  &:checked,
  &:checked:hover {
    + .option__label {
      color: $color__dark;

      .option__area {
        &::before {
          color: $color__dark;
          border-color: currentColor;
        }

        &::after {
          display: inline-block;
          background-color: $color__brand--one;
        }
      }
    }
  }
}

// RADIO
.option--radio {
  .option__area {
    display: block;
    top: ($option__label-size - $option__radio-size) / 2;
    left: ($option__label-size - $option__radio-size) / 2;

    &::before,
    &::after {
      border-radius: $border-radius--round;
    }

    &::before {
      width: $option__radio-size;
      height: $option__radio-size;
    }

    &::after {
      width: $option__radio-knuble-size;
      height: $option__radio-knuble-size;
      left: $option__radio-knuble-distance;
      top: $option__radio-knuble-distance;
    }
  }
}

// CHECKBOX
.option--checkbox {
  .option__area {
    top: ($option__label-size - $option__checkbox-size) / 2;
    left: ($option__label-size - $option__checkbox-size) / 2;

    &::before {
      width: $option__checkbox-size;
      height: $option__checkbox-size;
    }

    &::after {
      width: $option__checkbox-knuble-size;
      height: $option__checkbox-knuble-size;
      left: $option__checkbox-knuble-distance;
      top: $option__checkbox-knuble-distance;
    }
  }
}

// --------------------------
// STATES
// --------------------------
.option--alternate {
  .option__area {
    &::before {
      border-color: $option--alternate-color;
      background-color: transparent;
    }

    &::after {
      background-color: $option--alternate-color;
    }
  }

  .option__label {
    color: $option--alternate-color;

    &:hover {
      .option__area::before {
        color: $option--alternate-color;
      }
    }
  }

  // STATE CHECKED
  .option__input {
    &:checked,
    &:checked:hover {
      + .option__label {
        color: $option--alternate-color;

        .option__area {
          &::before {
            color: $option--alternate-color;
          }
        }
      }
    }
  }
}

// --------------------------
// IE8 Fallback
// --------------------------
.lt-ie9 {
  [type='radio'],
  [type='checkbox'] {
    position: inherit;
    overflow: visible;
    width: 20px;
    height: 20px;
    padding: inherit;
    margin: inherit;
    border: inherit;
    clip: auto;

    + label {
      padding: 0;

      i {
        display: none;
      }
    }
  }
}

// stylelint-enable max-nesting-depth,no-descending-specificity,selector-max-specificity
