extends ../../layouts/_layout.jade

block module_header
  - var moduleTitle = 'Dropdown'

block content
  section
    .dropdown
      button.btn.js-dropdown__toggler(href='#', id='dropdownMenu1') Dropdown Button
      ul.dropdown__menu(role='menu', aria-labelledby='dropdownMenu1')
        li(role='presentation')
          a(role='menuitem', href='#') Action
        li(role='presentation')
          a(role='menuitem', href='#') Another action
        li(role='presentation')
          a(role='menuitem', href='#') Something else here
        li(role='presentation')
          a(role='menuitem', href='#') Separated link

  section
    .dropdown.dropdown--open
      button.btn.btn--active.js-dropdown__toggler(href='#', id='dropdownMenu1') Dropdown Button
      ul.dropdown__menu(role='menu', aria-labelledby='dropdownMenu1')
        li(role='presentation')
          a(role='menuitem', href='#') Action
        li(role='presentation')
          a(role='menuitem', href='#') Another action
        li(role='presentation')
          a(role='menuitem', href='#') Something else here
        li(role='presentation')
          a(role='menuitem', href='#') Separated link
