html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.bg--accent {
  background-color: $color__accent;
}

.bg--accent-light {
  background-color: $color__accent--light;
}

main {
  @include container;
}

article {
  @include full;
  padding: 0 rem(12);
}

// LARGE
// ----------------------------------------
@include mq(large) {
  article {
    padding: 0 rem(24);
  }

  main {
    @include container();
  }
}
