  div
    pre
      code Icon: .btn.btn--icon
    a.btn.btn--icon(href='#')
      +icon('folder')
    button.btn.btn--icon(href='#')
      +icon('folder')

  hr
  div
    pre
      code All Buttons types with Icons inside
    a.btn(href='#')
      | Button with Icon
      +icon('download')
    a.btn.btn--secondary(href='#')
      +icon('download')
      | Button with Icon
    a.btn.btn--tertiary(href='#')
      +icon('download')
      | Button with Icon
    a.btn(href='#')
      +icon('search')
    a.btn.btn--icon(href='#')
      +icon('folder')
