extends ../../layouts/_layout.jade

block moduleTitle
  | Header (with Off-Canvas)

block documentation
  include:marked README.md

block content
  .js-offcanvas
    .offcanvas
      .offcanvas__pusher
        header.header
          .header__logo
            // Insert Logo here

          .offcanvas__content.header__content
            .offcanvas__content-inner
              button.offcanvas__close.js-offcanvas__toggler(href='#')
                +icon('close')
                | Close
                
              .header__nav
                nav.main-nav
                  ul.main-nav__list
                    li
                      a.main-nav__link(href='#') Nav Item
                    li
                      a.main-nav__link(href='#') Nav Item
                      ul.main-nav__sub.main-nav__sub--open
                        li
                          a.main-nav__link(href='#') Nav Item
                        li
                          a.main-nav__link.main-nav__link--active(href='#') Nav Item
                        li
                          a.main-nav__link(href='#') Nav Item
                    li
                      a.main-nav__link(href='#') Nav Item
                    li
                      a.main-nav__link.main-nav__link--active(href='#') Nav Item


              .header__meta
                // Insert meta-nav here

          button.offcanvas__opener.js-offcanvas__toggler(href='#')
            +icon('menu')
            | Menu

        main
          +times(4)
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        .offcanvas__overlay
