%article
  %header
    %h1 IconBar
    %a{ href: '/styleguide/' } Back to Index
  %hr
  %nav.iconbar{role: 'navigation'}
    %ul.iconbar__list
      %li.iconbar__item
        %a{ href: '#'}
          - streusel_icon( 'folder')
          Photo
      %li.iconbar__item.iconbar__item--active
        %a{ href: '#'}
          - streusel_icon( 'folder')
          TechSpec
      %li.iconbar__item
        %a{ href: '#'}
          - streusel_icon( 'folder')
          Articles
      %li.iconbar__item
        %a{ href: '#'}
          - streusel_icon( 'folder')
          Favorites
      %li.iconbar__item
        %a{ href: '#'}
          - streusel_icon( 'folder')
          Links
      %li.iconbar__item
        %a{ href: '#'}
          - streusel_icon( 'folder')
          Documents

  %hr.sc-hr-alternate

