%article
  .grid__container
    %header
      %h1 CONTENT
      %a{ href: '/styleguide/' } Back to Index
    %hr.grid__container

    %pre image without caption = img tag
    .grid__container
      .image
        %img{ src: 'http://placehold.it/1200x800&text=IMAGE'}

    %hr.grid__container

    %pre image with caption = figure with figcaption
    .grid__container
      %figure.image
        %img{ src: 'http://placehold.it/1200x800&text=IMAGE'}
        %figcaption.image__caption
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
