%article
  %header
    %h1 LINKLIST
    %a{ href: '/styleguide/' } Back to Index
  %hr

  .links
    %ul.links__list
      %li.links__item
        %a.links__link{ href: '#'}
          .button.button--icon
            - streusel_icon( 'download')
          .links__text
            Media Pressrelease
            %small 132KB / jpg - free to use

      %li.links__item
        %a.links__link{ href: '#'}
          .button.button--icon
            - streusel_icon( 'download')
          .links__text
            Media Pressrelease
            %small 132KB / jpg - free to use

      %li.links__item
        %a.links__link{ href: '#'}
          .button.button--icon
            - streusel_icon( 'download')
          .links__text
            Media Pressrelease
            %small 132KB / jpg - free to use

      %li.links__item
        %a.links__link{ href: '#'}
          .button.button--icon
            - streusel_icon( 'download')
          .links__text
            Media Pressrelease
            %small 132KB / jpg - free to use

      %li.links__item
        %a.links__link{ href: '#'}
          .button.button--icon
            - streusel_icon( 'download')
          .links__text
            Media Pressrelease
            %small 132KB / jpg - free to use
