%article
  %header
    %h1 LINKLIST
    %a{ href: '/styleguide/' } Back to Index
  %hr

  .links
    %ul.links__list
      %li.links__item
        %a.links__link{ href: '#'}
          %img{ src: 'http://placehold.it/42x56', width: '42', height: '56'}
          .links__text
            Media Pressrelease
            %small 132KB / jpg - free to use

      %li.links__item
        %a.links__link{ href: '#'}
          - streusel_icon( 'download')
          .links__text
            Media Pressrelease
            %small 132KB / jpg - free to use

      %li.links__item
        %a.links__link{ href: '#'}
          %img{ src: 'http://placehold.it/42x56', width: '42', height: '56'}
          .links__text
            Media Pressrelease
            %small 132KB / jpg - free to use

      %li.links__item
        %a.links__link{ href: '#'}
          %img{ src: 'http://placehold.it/42x56', width: '42', height: '56'}
          .links__text
            Media Pressrelease
            %small 132KB / jpg - free to use

      %li.links__item
        %a.links__link{ href: '#'}
          %img{ src: 'http://placehold.it/42x56', width: '42', height: '56'}
          .links__text
            Media Pressrelease
            %small 132KB / jpg - free to use
