%article
  %header
    %h1 Teaser Assets
    %a{ href: '/styleguide/' } Back to Index
  %hr
  %aside.teaser.teaser--assets
    .teaser__container
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/200x200&text=teaser'}
            %p.teaser__content Bildbeschreibung oder Legende
          %button.btn.btn--tertiary.teaser__btn
            Download
            - streusel_icon( 'download')
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/200x200&text=teaser'}
            %p.teaser__content Bildbeschreibung oder Legende
          %button.btn.btn--tertiary.teaser__btn
            Download
            - streusel_icon( 'download')
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/200x200&text=teaser'}
            %p.teaser__content Bildbeschreibung oder Legende
          %button.btn.btn--tertiary.teaser__btn
            Download
            - streusel_icon( 'download')
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/200x200&text=teaser'}
            %p.teaser__content Bildbeschreibung oder Legende
          %button.btn.btn--tertiary.teaser__btn
            Download
            - streusel_icon( 'download')
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/200x200&text=teaser'}
            %p.teaser__content Bildbeschreibung oder Legende
          %button.btn.btn--tertiary.teaser__btn
            Download
            - streusel_icon( 'download')
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/200x200&text=teaser'}
            %p.teaser__content Bildbeschreibung oder Legende
          %button.btn.btn--tertiary.teaser__btn
            Download
            - streusel_icon( 'download')
