%article
  %header
    %h1 Teaser
    %a{ href: '/styleguide/' } Back to Index
  %hr
  %aside.teaser
    .teaser__container
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          %img.teaser__img{ src: 'http://placehold.it/370x210&text=teaser'}
          .teaser__content
            %p.teaser__subtitle Subtitel
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary lesen Sie mehr darüber
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          %img.teaser__img{ src: 'http://placehold.it/370x210&text=teaser'}
          .teaser__content
            %p.teaser__subtitle Subtitel
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary lesen Sie mehr darüber
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          %img.teaser__img{ src: 'http://placehold.it/370x210&text=teaser'}
          .teaser__content
            %p.teaser__subtitle Subtitel
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary lesen Sie mehr darüber
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          %img.teaser__img{ src: 'http://placehold.it/370x210&text=teaser'}
          .teaser__content
            %p.teaser__subtitle Subtitel
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary lesen Sie mehr darüber
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          %img.teaser__img{ src: 'http://placehold.it/370x210&text=teaser'}
          .teaser__content
            %p.teaser__subtitle Subtitel
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary lesen Sie mehr darüber
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          %img.teaser__img{ src: 'http://placehold.it/370x210&text=teaser'}
          .teaser__content
            %p.teaser__subtitle Subtitel
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary lesen Sie mehr darüber
