%article
  %header
    %h1 TWO COLUMN
    %a{ href: '/styleguide/' } Back to Index
  %hr

  .two-column
    .two-column__first
      %section.sc-content
        %h2 Lorem ipsum dolor sit amet
        %p.sc-lead
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

    .two-column__second
      %section.sc-content
        %h2 Lorem ipsum dolor sit amet
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
