$btn__size: rem(23);

// Default Button
// ----------------------------------------
.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0 0 rem(18);
  padding: rem(7) rem(12) rem(8);
  background-color: $color__accent--light;
  border: rem(1) solid $color__accent--light;
  text-decoration: none;
  text-align: center;
  font-size: rem(18);
  font-weight: bold;
  line-height: 1.33;
  text-transform: uppercase;
  color: $color__accent--dark;
  user-select: none;
  appearance: none;
  transition: all 0.1s ease-in-out;

  > * {
    pointer-events: none;
  }

  .icon {
    width: $btn__size;
    height: $btn__size;
    vertical-align: top;
    pointer-events: none;
  }

  &:hover {
    color: $color__dark;
    background: $color__accent--light;
    border-color: $color__accent--light;
  }

  &:active,
  &.btn--active {
    transition: none;
    color: $color__dark;
    background: $color__accent;
    border-color: $color__accent;
  }

  &:focus {
    outline: 0;
  }
}

// Secondary Button
// ----------------------------------------
.btn--primary {
  color: $color__bright;
  background-color: $color__brand--one;
  border-color: $color__brand--one;

  &:hover {
    color: $color__bright;
    background-color: $color__accent--dark;
    border-color: $color__accent--dark;
  }

  &:active,
  &.btn--active {
    color: $color__bright;
    background-color: $color__brand--dark;
    border-color: $color__brand--dark;
  }
}

// Blank Button
// ----------------------------------------
.btn--blank {
  color: $color__accent;

  &,
  &:hover,
  &:active,
  &.btn--active {
    border-color: transparent;
    background-color: transparent;
  }

  &:hover {
    color: $color__accent--dark;
  }

  &:active,
  &.btn--active {
    color: $color__dark;
  }
}

// Only Icon Style
// ----------------------------------------
.btn--icon {
  width: rem(40);
  height: rem(40);
  padding: rem(8) 0;
  background: transparent;
  border: 0;
  border-radius: $border-radius--round;
  color: $color__brand--two;

  &:hover {
    color: $color__accent--dark;
    background-color: $color__accent--light;
  }

  &:active {
    color: $color__dark;
    background-color: $color__accent;
  }
}

// Small Style
// ----------------------------------------
.btn--small {
  padding-top: rem(5);
  padding-bottom: rem(5);
}

// Expanded Style
// ----------------------------------------
.btn--expanded {
  width: 100%;
}
