.teaser--card {
  .teaser__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .teaser__item {
    @include span-columns(6);
    @include omega(2n);
    display: flex;
    flex: 0 1 auto;
    position: relative;
  }

  .teaser__link--secondary {
    position: absolute;
    bottom: 0;
    right: space(1);
  }
}

// LARGE
// ----------------------------------------
@include mq(large) {
  .teaser--card {
    .teaser__item {
      @include span-columns(4);
      @include omega-reset(2n);
      @include omega(3n);
    }
  }
}


// XLARGE
// ----------------------------------------
@include mq(xlarge) {
  .teaser--card {
    .teaser__item {
      @include span-columns(3);
      @include omega-reset(3n);
      @include omega(4n);
    }
  }
}
