<section class="slider js-slider">
  <div class="slider__inner">
    <div class="slider__items">
      {{#each items}}
        <div class="slider__item">
          <img class="slider__image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Alt Text" data-flickity-lazyload="{{this}}" width="1200" height="675"/>
        </div>
      {{/each}}
    </div>
  </div>
</section>
