---
notes |
  * add class `topbar--active` to the active `<a>`
---
<nav role="navigation" class="topbar js-topbar">
  <button type="button"  aria-controls="topbar-content" class="topbar__mobile-menu">
    Menu
    {{> icons.icon icon-name="menu"}}
  </button>
  <ul class="topbar__list" id="topbar-content">
    {{#each topbar}}
      <li class="topbar__item">
        <a class="topbar__link{{#if active}} topbar--active{{/if}}" href="#" >{{title}}</a>
        {{#if sublist}}
          <ul class="topbar__sub-list">
            {{#each sublist}}
            <li class="topbar__sub-item">
              <a class="topbar__link" href="#">{{this}}</a>
            </li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>
