.icon--arrow-down { background-image: image-url('icons/png/arrow-down.png'); }


.icon--arrow-left { background-image: image-url('icons/png/arrow-left.png'); }


.icon--arrow-right { background-image: image-url('icons/png/arrow-right.png'); }


.icon--arrow-up { background-image: image-url('icons/png/arrow-up.png'); }


.icon--close { background-image: image-url('icons/png/close.png'); }


.icon--contact { background-image: image-url('icons/png/contact.png'); }


.icon--download { background-image: image-url('icons/png/download.png'); }


.icon--folder { background-image: image-url('icons/png/folder.png'); }


.icon--logout { background-image: image-url('icons/png/logout.png'); }


.icon--menu { background-image: image-url('icons/png/menu.png'); }


.icon--search { background-image: image-url('icons/png/search.png'); }


