<span class="radio {{modifier}}">
  <input class="radio__input" type="radio" name="dummy" id="radio{{counter}}"/>
  <label class="radio__label" for="radio{{counter}}">
    {{text}}
  </label>
</span>
