.sc-lead {
  font-size: rem(19);
}

// MEDIUM
// ----------------------------------------
@include mq(medium) {
  .sc-lead {
    font-size: rem(20);
  }
}


// LARGE
// ----------------------------------------
@include mq(large) {
  .sc-content {
    max-width: rem(780);
  }

  .sc-lead {
    font-size: rem(24);
  }
}
