extends layouts/_layout.jade

block module_header
  - var moduleTitle = 'Partystreusel'

block content
  .styleguide-nav
    ul
      li
        h2 Core
        ul
          li
            a(href='./typo.html') Typography

      li
        h2 UI
        ul
          li
            a(href='./icons.html') Icons
          li
            a(href='./buttons.html') Buttons
          li
            a(href='./table.html') Tables
          li
            a(href='./form.html') Form
          li
            a(href='./switches.html') Switch
          li
            a(href='./options.html') Options (radio/checkbox)
          li
            a(href='./image.html') Image

      li
        h2 Modules
        ul
          li
            a(href='./content.html') Content
          li
            a(href='./dropdowns.html') Dropdowns
          li
            a(href='./topbar.html') TopBar
          li
            a(href='./iconbar.html') IconBar
          li
            a(href='./breadcrumb.html') Breadcrumb
          li
            a(href='./readmore.html') Read More
          li
            a(href='./accordion.html') Accordion
          li
            a(href='./tab.html') Tab
          li
            a(href='./two_column.html') Two Column
          li
            a(href='./linklist.html') Linklist
          li
            a(href='./teaser.html') Teaser
          li
            a(href='./teaser_card.html') Teaser Card
          li
            a(href='./teaser_list.html') Teaser List
          li
            a(href='./teaser_assets.html') Teaser Assets
          li
            a(href='./slider.html') Slider
          li
            a(href='./embeds.html') Embeds (Videos)
