// Bourbon imports
@import 'bourbon';
@import 'neat-helpers';
@import 'core/settings';
@import 'neat';
@import 'core/mixins';
@import 'core/utilities';

// STYLEGUIDE STYLES
// ----------------------------------------
$styleguide-color__accent: #ccc;

// Container
.styleguide__container {
  @include outer-container;
}

.styleguide__header {
  overflow: hidden;
}

// Icons
.styleguide-icons__icon-list {
  @include outer-container;
}

.styleguide-icons__icon {
  display: block;
  float: left;
  width: 20%;
  min-width: rem(180);
}

// COLORS
.styleguide-colors {
  @include clearfix;
  list-style-type: none;
  margin: 0 0 rem(20);
  padding: 0;

  li {
    @include span-columns(3);
    @include omega(4n);
    min-width: rem(200);
    margin-bottom: space(4);
    text-align: center;
  }

  span,
  strong {
    display: block;
    font-size: rem(18);
  }
}

.styleguide-colors__circle {
  width: rem(200);
  height: rem(200);
  margin: 0 auto rem(10);
  border-radius: 100%;
}

.styleguide-bg {
  background-color: $styleguide-color__accent;
}

.styleguide-spacer {
  @include clearfix;
  width: 100%;
  height: rem(50);
}
