// Bourbon imports
@import 'bourbon';
@import 'neat-helpers';
@import 'core/settings';
@import 'neat';
@import 'core/helpers';
@import 'core/mixins';

// STYLEGUIDE STYLES
// ----------------------------------------

// Icons
.styleguide-icons__icon-list {
  @include outer-container;
}

.styleguide-icons__icon {
  display: block;
  float: left;
  width: 20%;
  min-width: rem(180);
}

// COLORS
.styleguide-colors {
  @include clearfix;
  list-style-type: none;
  margin: 0 0 rem(20);
  padding: 0;

  li {
    @include span-columns(3);
    @include omega(4n);
    min-width: rem(200);
    margin-bottom: space(4);
    text-align: center;
  }

  span,
  strong {
    display: block;
    font-size: rem(18);
  }
}

.styleguide-colors__circle {
  width: rem(200);
  height: rem(200);
  margin: 0 auto rem(10);
  border-radius: 100%;
}
