$btn__size: rem(23);

// Default Button
// ----------------------------------------
.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0 0 rem(18);
  padding: rem(7) rem(12) rem(8);
  background-color: $color__primary;
  border: rem(1) solid $color__primary;
  text-decoration: none;
  text-align: center;
  font-size: rem(18);
  font-weight: bold;
  line-height: 1.33;
  text-transform: uppercase;
  color: $color__bright;
  box-shadow: $color__grey--light rem(2) rem(2) rem(2) 0;
  user-select: none;
  appearance: none;
  transition: all 0.1s ease-in-out;

  .icon {
    width: $btn__size;
    height: $btn__size;
    vertical-align: top;
  }

  &:hover {
    color: $color__bright;
    background: $color__grey--dark;
    border-color: $color__grey--dark;
  }

  &:active,
  &.btn--active {
    transition: none;
    color: $color__bright;
    background: $color__dark;
    border-color: $color__dark;
    box-shadow: none;
  }

  &:focus {
    outline: 0;
  }
}

// Secondary Button
// ----------------------------------------
.btn--secondary {
  &,
  &.btn--active {
    background-color: $color__bright;
    box-shadow: $color__secondary rem(1) rem(1) rem(2) 0;
  }

  &,
  &:hover {
    color: $body__font-color;
    border-color: $color__secondary;
  }

  &:hover {
    background-color: $color__grey--light;
  }

  &:active,
  &.btn--active {
    box-shadow: none;
    background-color: $color__grey--light;
    color: $color__primary;
    border-color: $color__grey--light;
  }
}

// Tertiary Button
// ----------------------------------------
.btn--tertiary {
  &,
  &.btn--active {
    box-shadow: none;
    color: $color__secondary;
  }

  &,
  &:hover,
  &:active,
  &.btn--active {
    border-color: transparent;
    background-color: transparent;
  }

  &:hover {
    color: $body__font-color;
  }

  &:active,
  &.btn--active {
    color: $color__primary;
  }
}

// Only Icon Style
// ----------------------------------------
.btn--icon {
  width: rem(40);
  height: rem(40);
  padding: rem(8) 0;
  background: transparent;
  border: 0;
  box-shadow: none;
  color: $color__secondary;

  &:hover,
  &:active {
    border-radius: $border-radius--round;
    background-color: $color__grey--light;
  }

  &:hover {
    color: $body__font-color;
  }

  &:active {
    color: $color__primary;
  }
}

// Small Style
// ----------------------------------------
.btn--small {
  padding-top: rem(5);
  padding-bottom: rem(5);
}

// Expanded Style
// ----------------------------------------
.btn--expanded {
  width: 100%;
}
