extends ../layouts/_layout.jade

block module_header
  - var moduleTitle = 'Breadcrumb'

block content
  section.sc-content
    ol.breadcrumb(aria-label='breadcrumb', role='navigation', itemprop='breadcrumb', itemscope='', itemtype='http://schema.org/BreadcrumbList')
      li.breadcrumb__item(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb' )
        a(itemprop='url', href='http://goto', aria-level='1')
          span(itemprop='title' ) Stufe 1
      li.breadcrumb__item(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb' )
        a(itemprop='url', href='http://goto', aria-level='2')
          span(itemprop='title' ) Stufe 2
      li.breadcrumb__item(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb' )
        a(itemprop='url', href='http://goto', aria-level='3')
          span(itemprop='title' ) Stufe 3
      li.breadcrumb__item.breadcrumb__item--active(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb' )
        span(itemprop='title' ) Stufe 4
