extends ../layouts/_layout.jade

block module_header
  - var moduleTitle = 'Image'

block content
  pre image without caption = img tag
  .image
    img( src='https://unsplash.it/1200/800/?random')

  hr

  pre image with caption = figure with figcaption
  figure.image
    img( src='https://unsplash.it/1200/800/?random')
    figcaption.image__caption
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
