%article
  %header
    %h1 CONTENT
    %a{ href: '/styleguide/' } Back to Index
  %hr

  %pre image without caption = img tag
  .image
    %img{ src: 'http://placevaughnandfranco.it/img/1200/800'}

  %hr

  %pre image with caption = figure with figcaption
  %figure.image
    %img{ src: 'http://placevaughnandfranco.it/img/1200/800'}
    %figcaption.image__caption
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
