extends ../layouts/_layout.jade

block module_header
  - var moduleTitle = 'Partystreusel'

block content
  .styleguide-nav
    ul
      li
        h2 Base Styles
        ul
          li
            a(href='/typo.html') Typography
          li
            a(href='/table.html') Tables

      li
        h2 Icons
        ul
          li
            a(href='/icons.html') Icons

      li
        h2 Form
        ul
          li
            a(href='/form.html') Base form styles
          li
            a(href='/switches.html') Switches
          li
            a(href='/options.html') Options (radio/checkbox)

      li
        h2 Buttons
        ul
          li
            a(href='/buttons.html') Buttons
          li
            a(href='/dropdowns.html') Dropdowns

      li
        h2 Navigation
        ul
          li
            a(href='/topbar.html') TopBar
          li
            a(href='/iconbar.html') IconBar
          li
            a(href='/breadcrumb.html') Breadcrumb

      li
        h2 Content
        ul
          li
            a(href='/content.html') Base content
          li
            a(href='/readmore.html') Read More
          li
            a(href='/accordion.html') Accordion
          li
            a(href='/tab.html') Tab
          li
            a(href='/two_column.html') Two Column
          li
            a(href='/image.html') Image
          li
            a(href='/linklist.html') Linklist

      li
        h2 Teaser
        ul
          li
            a(href='/teaser.html') Teaser
          li
            a(href='/teaser_card.html') Teaser Card
          li
            a(href='/teaser_list.html') Teaser List
          li
            a(href='/teaser_assets.html') Teaser Assets

      li
        h2 Media
        ul
          li
            a(href='/slider.html') Slider
          li
            a(href='/embeds.html') Embeds (Videos)

