extends ../layouts/_layout.jade

block module_header
  - var moduleTitle = 'Linklist'

block content
  .links
    ul.links__list
      li.links__item
        a.links__link(href='#')
          .btn.btn--icon
            +icon('download')
          .links__text
            |Media Pressrelease
            small 132KB / jpg - free to use

      li.links__item
        a.links__link(href='#')
          .btn.btn--icon
            +icon('download')
          .links__text
            |Media Pressrelease
            small 132KB / jpg - free to use

      li.links__item
        a.links__link(href='#')
          .btn.btn--icon
            +icon('download')
          .links__text
            |Media Pressrelease
            small 132KB / jpg - free to use

      li.links__item
        a.links__link(href='#')
          .btn.btn--icon
            +icon('download')
          .links__text
            |Media Pressrelease
            small 132KB / jpg - free to use

      li.links__item
        a.links__link(href='#')
          .btn.btn--icon
            +icon('download')
          .links__text
            |Media Pressrelease
            small 132KB / jpg - free to use
