extends ../layouts/_layout.jade

block module_header
  - var moduleTitle = 'Table'

block content
  .sc-table
    table
      thead
        tr
          th A
          th B
          th C
          th D
          th E
      tbody
        tr
          td Row 1 with long copy
          td Row 1
          td Row 1 with long
          td Row 1
          td Row 1
        tr
          td Row 2 with long copy
          td Row 2
          td Row 2 with long
          td Row 2
          td Row 2
        tr
          td Row 3 with long copy
          td Row 3
          td Row 3 with long
          td Row 3
          td Row 3
        tr
          td Row 4 with long copy
          td Row 4
          td Row 4 with long
          td Row 4
          td Row 4
        tr
          td Row 5 with long copy
          td Row 5
          td Row 5 with long
          td Row 5
          td Row 5
        tr
          td Row 6 with long copy
          td Row 6
          td Row 6 with long
          td Row 6
          td Row 6
