extends ../layouts/_layout.jade

block module_header
  - var moduleTitle = 'Teaser List'

block content
  aside.teaser.teaser--list
    .teaser__container
      section.teaser__item
        a.teaser__link(href='#')
          .teaser__img
            img(src='https://unsplash.it/140/210/?random')
          .teaser__content
            h3 Aktuelles
            p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            button.btn.btn--tertiary.teaser__btn Artikel lesen
      section.teaser__item
        a.teaser__link(href='#')
          .teaser__img
            img(src='https://unsplash.it/140/210/?random')
          .teaser__content
            h3 Aktuelles
            p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            button.btn.btn--tertiary.teaser__btn Artikel lesen
      section.teaser__item
        a.teaser__link(href='#')
          .teaser__img
            img(src='https://unsplash.it/140/210/?random')
          .teaser__content
            h3 Aktuelles
            p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            button.btn.btn--tertiary.teaser__btn Artikel lesen
      section.teaser__item
        a.teaser__link(href='#')
          .teaser__img
            img(src='https://unsplash.it/140/210/?random')
          .teaser__content
            h3 Aktuelles
            p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            button.btn.btn--tertiary.teaser__btn Artikel lesen
      section.teaser__item
        a.teaser__link(href='#')
          .teaser__img
            img(src='https://unsplash.it/140/210/?random')
          .teaser__content
            h3 Aktuelles
            p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            button.btn.btn--tertiary.teaser__btn Artikel lesen
      section.teaser__item
        a.teaser__link(href='#')
          .teaser__img
            img(src='https://unsplash.it/140/210/?random')
          .teaser__content
            h3 Aktuelles
            p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            button.btn.btn--tertiary.teaser__btn Artikel lesen
