%article
  %header
    %h1 Teaser List
    %a{ href: '/styleguide/' } Back to Index
  %hr
  %aside.teaser.teaser--list
    .teaser__container
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/140x210&text=4:6'}
          .teaser__content
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary.teaser__btn Artikel lesen
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/140x210&text=4:6'}
          .teaser__content
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary.teaser__btn Artikel lesen
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/140x210&text=4:6'}
          .teaser__content
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary.teaser__btn Artikel lesen
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/140x210&text=4:6'}
          .teaser__content
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary.teaser__btn Artikel lesen
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/140x210&text=4:6'}
          .teaser__content
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary.teaser__btn Artikel lesen
      %section.teaser__item
        %a.teaser__link{ href: '#'}
          .teaser__img
            %img{ src: 'http://placehold.it/140x210&text=4:6'}
          .teaser__content
            %h3 Aktuelles
            %p Uci samust autemos sitibus magnam solme dolupta quidenem a cor susam.
            %button.btn.btn--tertiary.teaser__btn Artikel lesen
