.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.slider__list {
  @include backface-visibility(hidden);
  @include transform-style(preserve-3d);
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  *zoom: 1;
}

.slider__item {
  display: block;
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.slider__controls {
  display: none;
}

.slider__nav {
  position: relative;
  margin: rem(10) 0;
  text-align: center;
}

.slider__nav-item {
  width: rem(24);
  height: rem(24);
  clear: none;
  display: inline-block;
  margin: 0 rem(6);
  background-color: $secondary-color;
  border: rem(6) solid $white;
  border-radius: $border-radius--round;
}

// STATES
.slider__nav-item:hover,
.slider__nav-item--active {
  background-color: $primary-color;
}

// LARGE
// ----------------------------------------
@include mq(large) {
  .slider__list {
    z-index: 1;
  }

  .slider__controls {
    display: block;
  }

  .slider__control-prev,
  .slider__control-next {
    display: block;
    width: rem(42);
    height: rem(42);
    padding-top: rem(6);
    margin-top: rem(-21);
    position: absolute;
    top: 50%;
    background-color: $white;
    border: 0;
    border-radius: $border-radius--round;
    cursor: pointer;
    z-index: 10;
    color: $black;

    &:hover {
      color: $primary-color;
    }
  }

  .slider__control-prev {
    left: rem(20);
  }

  .slider__control-next {
    right: rem(20);
  }

  .slider__nav {
    position: absolute;
    margin: 0;
    bottom: rem(10);
    left: 0;
    right: 0;
    z-index: 10;
  }

  .slider__nav-item {
    margin: 0 rem(6);

    &:hover {
      border-width: rem(4);
      width: rem(20);
      height: rem(20);
      margin: 0 rem(8) rem(2);
    }
  }
}
