$switch__width: rem(54);
$switch__height: rem(30);
$switch__inner-space: rem(4);

$switch__radius: $switch__height;
$switch__knob-size: $switch__height - $switch__inner-space * 2;

.switch {
  @include user-select(none);
  display: inline-block;
  position: relative;
  margin-bottom: rem(18);
  cursor: pointer;
  height: $switch__height;
  width: $switch__width;
  -webkit-tap-highlight-color: rgba($black, 0);

  input {
    display: none;

    + label {
      @include transition(all 0.15s ease-out);
      @include transform(translate3d(0, 0, 0));
      @include hide-text;
      display: block;
      position: relative;
      height: $switch__height;
      width: 100%;
      cursor: pointer;
      background: $grey;
      border-radius: $switch__radius;

      &:after {
        @include transition(all 0.15s ease-out);
        content: '';
        display: block;
        background: $white;
        position: absolute;
        top: $switch__inner-space;
        left: $switch__inner-space;
        width: $switch__knob-size;
        height: $switch__knob-size;
        border-radius: $switch__radius;
      }
    }
  }

  // HOVER STATE
  &:hover {
    label {
      background: $grey-dark;
    }
  }

  // CHECKED STATE
  input:checked {
    + label {
      background: $primary-color;

      &:after {
        left: $switch__width - $switch__knob-size - $switch__inner-space;
      }
    }
  }
}

// IE8 Fallback
.lt-ie9 {
  .switch {
    input {
      display: block;

      + label {
        display: none;
      }
    }
  }
}
