$tab__space: space(1);

.tab__nav {
  @include clearfix;
  display: block;
  list-style: none;
  padding: 0 $tab__space $tab__space;
  margin: $tab__space 0 $tab__space * 2;
  background-color: $secondary-color;
}

.tab__nav-item {
  display: block;
  float: left;
  margin: $tab__space $tab__space 0 0;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    background-color: $grey-light;
    color: $grey-dark;
    padding: $tab__space;

    &:hover {
      color: $tertiary-color;
    }
  }
}

.tab__panel {
  display: none;
}

// STATES
.tab__nav-item--active {
  a {
    background-color: $white;
    color: $primary-color;
  }
}

.tab__panel--active {
  display: block;
}

// LARGE
// ----------------------------------------
@include mq(large) {
  .tab__nav {
    margin-top: $tab__space * 2;
    padding: 0 $tab__space * 2;
  }

  .tab__nav-item {
    margin: $tab__space * 2 $tab__space 0 0;
    font-size: rem(18);
  }
}
