.teaser
  +outer-container
  background-color: $grey-light
  padding: space(1) space(1) 0

.teaser__item
  margin: 0 0 space(1) 0
  background-color: $white
  box-shadow: mix($grey, white, 60%) rem(2) rem(2) rem(3) 0

.teaser__content
  padding: 0 space(1)

  h3,
  p
    margin: 0

  p
    font-size: $paragraph-font-size
    font-weight: 200

  .teaser__btn
    padding-left: 0
    text-align: left

.teaser__subtitle
  margin-bottom: space(.5)
  color: $grey-dark

.teaser__link
  display: block
  color: currentColor

.teaser__img
  width: 100%
  height: auto
  margin-bottom: space(.5)

// STATES
.teaser__item:hover
  box-shadow: none

  .teaser__link
    color: currentColor

  .teaser__img
    opacity: .8

// MEDIUM
// ----------------------------------------
+mq(medium)
  .teaser__container
    +display(flex)
    +flex-direction(row)
    +flex-wrap(wrap)

  .teaser__container-title
    width: 100%

  .teaser__item
    +display(flex)
    +span-columns(4)
    +flex(0 1 auto)
    +omega(3n)

// LARGE
// ----------------------------------------
+mq(large)
  .teaser
    padding: space(2) space(2) 0

  .teaser__item
    +span-columns(4)
    +omega(3n)
    margin-bottom: space(2)

  .teaser__img
    margin-bottom: space(1.5)
