.teaser--card {
  .teaser__container {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }
  .teaser__item {
    position: relative;
    @include display(flex);
    @include span-columns(6);
    @include flex(0 1 auto);
    @include omega(2n);
  }
  .teaser__link--secondary {
    position: absolute;
    bottom: 0;
    right: space(1);
  }
}

// MEDIUM
// ----------------------------------------
@include mq(medium) {
  .teaser--card {
    .teaser__item {
      &:nth-child(3n) {
        margin-right: +flex-gutter();
      }
    }
    .teaser__item {
      @include omega(2n);
    }
  }
}


// LARGE
// ----------------------------------------
@include mq(large) {
  .teaser--card {
    .teaser__item {
      &:nth-child(2n) {
        margin-right: +flex-gutter();
      }
    }
    .teaser__item {
      @include span-columns(4);
      @include omega(3n);
    }
  }
}


// XLARGE
// ----------------------------------------
@include mq(xlarge) {
  .teaser--card {
    .teaser__item {
      &:nth-of-type(3n) {
        margin-right: +flex-gutter();
      }
    }
    .teaser__item {
      @include span-columns(3);
      @include omega(4n);
    }
  }
}
