.teaser--assets {
  .teaser__container {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }
  .teaser__item {
    @include display(flex);
    @include span-columns(6);
    @include flex(0 1 auto);
    @include omega(2n);
  }
  .teaser__img {
    position: relative;
    margin-bottom: space(0.5);
    overflow: hidden;
    img {
      display: block;
    }
  }
  .teaser__content {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding: space(1);
    font-size: rem(16);
    background-color: rgba($white, 0.5);
    @include transform(translate3d(0, 100%, 0));
    @include transition(transform 0.35s);
  }
  .teaser__btn {
    display: block;
    margin: 0;
    font: 0 / 0 a;
    text-shadow: none;
  }
}

// STATES
.teaser--assets {
  .teaser__link:hover {
    .teaser__content {
      @include transform(translate3d(0, 0, 0));
    }
  }
}

// NO CSS TRANSFORM Fallback
.no-csstransforms3d {
  .teaser--assets {
    .teaser__content {
      display: none;
    }
    .teaser__link:hover {
      .teaser__content {
        display: block;
      }
    }
  }
}

// MEDIUM
// ----------------------------------------
@include mq(medium) {
  .teaser--assets {
    .teaser__item {
      &:nth-child(2n) {
        margin-right: +flex-gutter();
      }
    }
    .teaser__item {
      @include span-columns(4);
      @include omega(3n);
    }
    .teaser__btn {
      padding-right: 0;
      font-family: $body-font-family;
      font-size: rem(16);
      font-weight: bold;
      line-height: 1.33;
    }
  }
}


// LARGE
// ----------------------------------------
@include mq(large) {
  .teaser--assets {
    .teaser__item {
      &:nth-child(3n) {
        margin-right: +flex-gutter();
      }
    }
    .teaser__item {
      @include span-columns(3);
      @include omega(4n);
    }
    .teaser__btn {
      font-size: rem(18);
    }
  }
}


// XLRAGE
// ----------------------------------------
@include mq(xlarge) {
  .teaser--assets {
    .teaser__item {
      &:nth-child(4n) {
        margin-right: +flex-gutter();
      }
    }
    .teaser__item {
      @include span-columns(2);
      @include omega(6n);
    }
  }
}
