

<!doctype html>
<html class="no-js" lang="DE">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Preview Layout</title>

    <!-- Pattern Libary styles&scripts -->
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../js/polyfills.js"></script>

    <script>
      var ajax = new XMLHttpRequest();
      ajax.open("GET", "../../images/icon-sprite.svg", true);
      ajax.onload = function(e) {
        var div = document.createElement("div");
        div.classList.add('icon__sprite');
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
      ajax.send();
    </script>
    <!-- /Pattern Libary styles&scripts -->

  </head>
  <body>

    <ol aria-label="You are here:" vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumb">
    <li property="itemListElement" typeof="ListItem" class="breadcrumb__item ">
      <a href="#" property="item" typeof="WebPage">
        <span property="name">Stufe 1</span>
      </a>
      <meta property="position" content="1"/>
    </li>
    <li property="itemListElement" typeof="ListItem" class="breadcrumb__item ">
      <a href="#" property="item" typeof="WebPage">
        <span property="name">Stufe 2</span>
      </a>
      <meta property="position" content="2"/>
    </li>
    <li property="itemListElement" typeof="ListItem" class="breadcrumb__item ">
      <a href="#" property="item" typeof="WebPage">
        <span property="name">Stufe 3</span>
      </a>
      <meta property="position" content="3"/>
    </li>
    <li property="itemListElement" typeof="ListItem" class="breadcrumb__item breadcrumb__item--active">
      <a href="#" property="item" typeof="WebPage">
        <span property="name">Stufe 4</span>
      </a>
      <meta property="position" content="4"/>
    </li>
</ol>


    <!-- toolkit scripts -->
    <script src="../../js/main.js" async></script>
    <!-- /toolkit scripts -->

  </body>
</html>

