

<!doctype html>
<html class="no-js" lang="DE">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Preview Layout</title>

    <!-- Pattern Libary styles&scripts -->
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../js/polyfills.js"></script>

    <script>
      var ajax = new XMLHttpRequest();
      ajax.open("GET", "../../images/icon-sprite.svg", true);
      ajax.onload = function(e) {
        var div = document.createElement("div");
        div.classList.add('icon__sprite');
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
      ajax.send();
    </script>
    <!-- /Pattern Libary styles&scripts -->

  </head>
  <body>

    <section class="content">
  <h1>Lorem ipsum dolor sit amet</h1>
  <p class="content--lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  <h2>Lorem ipsum dolor sit amet</h2>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
</section>


    <!-- toolkit scripts -->
    <script src="../../js/main.js" async></script>
    <!-- /toolkit scripts -->

  </body>
</html>

