

<!doctype html>
<html class="no-js" lang="DE">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Preview Layout</title>

    <!-- Pattern Libary styles&scripts -->
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../js/polyfills.js"></script>

    <script>
      var ajax = new XMLHttpRequest();
      ajax.open("GET", "../../images/icon-sprite.svg", true);
      ajax.onload = function(e) {
        var div = document.createElement("div");
        div.classList.add('icon__sprite');
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
      ajax.send();
    </script>
    <!-- /Pattern Libary styles&scripts -->

  </head>
  <body>

    <div class="dropdown js-dropdown">
  <button type="button" id="dropdownMenu1" class="btn js-dropdown__toggler">Dropdown Button</button>
  <ul role="menu" aria-labelledby="dropdownMenu1" class="dropdown__menu js-dropdown__actions">
    <li role="presentation"><a role="menuitem" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" href="#">Something else here</a></li>
    <li role="presentation"><a role="menuitem" href="#">Separated link</a></li>
  </ul>
</div>


    <!-- toolkit scripts -->
    <script src="../../js/main.js" async></script>
    <!-- /toolkit scripts -->

  </body>
</html>

