-# 1. take a svg "favicon" and generate all formats with the following service: http://realfavicongenerator.net/
-# 2. Then add all the icons (and meta tags) with the following syntax example:
-# = favicon_link_tag("/apple-touch-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57")
